html {
    font-size: 16px !important;
    color: #25262a;
}

.color-grey {
    color: #8c92a0 !important;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1rem;
}

#logo {
    height: 50px;
    width: 100px;
}

.nav li a {
    color: #25262a;
    font-size: 0.9rem;
    text-transform: uppercase;
}

header {
    border-bottom: 1px solid #f3f3f4 !important;
}

#brand {
    background-color: #A6F3ED !important;
    color: #000;
}

#brand #brand_logo {
    width: 100%;
}

#brand p {
    line-height: 35px;
    color: #333333;
}

#brand_title_logo {
    font-weight: 900;
}

.icons {
    color: #7971ea;
    font-size: 3rem;
}

.images {
    height: 500px;
}

.women {
    background: url('../images/women.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.info {
    position: relative;
    height: 100%;
    width: 100%;
}

.description {
    position: absolute;
    bottom: 10px;
}