html {
    font-size: 16px !important;
}

#logo {
    height: 50px;
    width: 100px;
}

.nav li a {
    color: #25262a;
    font-size: 0.9rem;
    text-transform: uppercase;
}

header {
    border-bottom: 1px solid #f3f3f4 !important;
}

#brand {
    background-color: #A6F3ED !important;
    color: #000;
}

#brand #brand_logo {
    width: 100%;
}

#brand p {
    line-height: 35px;
    color: #333333;
}

#brand_title_logo {
    font-weight: 900;
}